<div class="main-container">
    <div class="header"></div>
    <div class="upload-container">
        <input type="file" accept=".txt" (change)="onFileSelected($event)">
        <button (click)="onUpload()" [disabled]="isUploading">Upload</button>
    </div>
</div>

<div *ngIf="isUploading" class = "progress-container">
  <p>Uploading... {{ uploadProgress }}% ({{ uploadedSize }} / {{ totalSize }})</p>
  <progress [value]="uploadProgress" max="100"></progress>
</div>

<div *ngIf="showDialog" class="popup">
  <div class="popup-content">
    <p>{{ dialogMessage }}</p>
    <button (click)="showDialog = false">OK</button>
  </div>
</div>




